<div class="contents">
  <div class="container">
    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <div class="form-wrap">
          <div class="form-title">メールアドレス</div>
           <%= f.text_field :email, class: "form-box" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-wrap">
          <div class="form-title">パスワード</div>
           <%= f.password_field :passwword, class: "form-box" %>
        </div>
      </div>

      <div class="submit">
           <%= f.submit "登録", class:"submit-btn" %>
           <%= link_to "新規登録", signup_path %>
      </div> 
    <% end %>
  </div>
</div>
