<!DOCTYPE html>
<html>
  <head>
    <title>ChargeManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_bar">
        <h1 class="title_bar">
           <%= link_to "Charge Management", "/" %>
        </h1>
          <div class="nav_bar">
            <% if logged_in? %>
                <%= link_to 'ログアウト', logout_path, method: :delete, class: "post" %>
                <%= link_to "項目追加", new_charge_path, method: :get, class: "post" %>
            <% else %>
                <%= link_to 'ログイン', login_path, class: "post" %>
                <%= link_to '新規登録', signup_path, class: "post" %>
            <% end %>
          </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
